@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}
a{
    text-decoration: none;
    list-style: none;
}

/* common=========================================== */
body{
    font-size: 15px;
}
.b-black{
    background-color: #000 !important;
}
.b-white{
    background-color: #fff !important;
}
.black{
    color: #000 !important;
}
.white{
    color: #fff !important;
}
.red{
    color: #E30610;
}
.gray{
    color:#555
}


/* header ==========================================*/
header{
    background:#000;
}
/* inner */
.inner{
    width: 100%;
    font-family:'Montserrat';
    background: #151515;
    border-bottom: 1px solid rgb(48,48,48);
    text-decoration: none;
}
.inner .content{
    width: 90%;
}
.inner p{
    margin: 0;
}
.inner p,.inner a{
    color: rgb(132,132,132)
}
.inner a:hover{
    text-decoration: none;
    color: #fff;
}
.right{
    width: 300px;
}
.right .login img{
    width: 13px;
    height: 13px;
}
.right .shop{
    box-sizing: border-box;
    padding: 8px 9px;
    margin: 1px;
    background: #E30610;
    border-radius: 4px;
}
.right .shop a{
    color: #fff !important;
}
.right .shop img{
    width: 12px;
    height: 12px;
    
}
.xi-bars{
    display: none;
}
/* gnb ======================================================== */
.gnb{
    width: 100%;
    font-family: 'Noto Sans KR','Montserrat';
  
}
.logo{
    width: 60px;
    cursor: pointer;
}
.logo img{
    width: 100%;
}
.nav{
    width: 90%;
}
.menu{
    width: 80%;
}
.menu li a{
    position: relative;
    color: #fff;
    text-decoration: none;
}
.menu li a:after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 1px;
    background:#fff;
    transform: translateX(-50%);
    transition: all .2s ease-out;
}
.menu li a:hover:after{
    width: 100%;
}

.menu-icon{
    position: relative;
    width: 25px;
    cursor: pointer;
}
.menu-icon img{
    width: 100%;
}
.language{
    position: absolute;
    top: 30px;
    left: -25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: #999;
    z-index: 99;   
}
.sub{
    display: none;
    
}
.language li{
    border-bottom: 1px solid #fff;
    padding: 10px;
    
}
.language li a{
    color: #fff;
}
.language li a:hover{
    color: #E30610;
}
.language li a:hover:after{
    width: 0;
}
/* main slide ==================================== */
.main-visual{
    width: 100%;
    background: #000;
}
.owl-carousel{
    width: 100%;
}
.main-visual .main-bg01{
    width: 100%;
    height: 500px;
    background: url(../image/main-visual/bg01.jpg)no-repeat;
    background-size: cover;
    background-position:bottom ;
}
.main-visual .main-bg02{
    width: 100%;
    height: 500px;
    background: url(../image/main-visual/bg02.jpg)no-repeat;
    background-size: cover;
    background-position:bottom ;
}
.main-visual .main-bg03{
    width: 100%;
    height: 500px;
    background: url(../image/main-visual/bg03.jpg)no-repeat;
    background-size: cover;
    background-position:bottom ;
}
.main-visual .main-bg04{
    width: 100%;
    height: 500px;
    background: url(../image/main-visual/bg04.jpg)no-repeat;
    background-size: cover;
    background-position:bottom ;
}
.main-text{
    position: absolute;
    bottom: 20%;
    left: 13%;
    color: #fff;

}
.main-visual .main-slide .main-text h3{
    position: relative;
    color: #fff;
}
.main-visual .main-slide .main-text h3::after{
    content: "";
    position: absolute;
    width: 5px;
    height: 65px;
    bottom: -0px;
    left: -10px;
    z-index: 10;
    background-color: #ffff;
}
.main-visual .main-slide .main-text span{
    color: #E30610;
}
.main-btn{
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #E30610;
    border: none;
    color: #fff;
    margin-top:10px;

}
/* mobile-swiper ==================================*/

.main-swiper-mobile{
    background: #000;
    width: 100%;

    display: none;
}
.swiper-slide{
    position: relative;
    
}
.m-main-text{
    position: absolute;
    bottom: 6px;
    left: 6px;
    color: #fff;
    box-sizing: border-box;
    padding: 3px 5px;
    
}
.m-main-text p{
    margin-bottom: 0;
}
.main-swiper-mobile .swiper-slide img{
    width: 100%;
} 

.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 100% !important;
    height: 4px !important;
    left: 0 !important;
    top: unset;
    bottom: -20px !important;
}
:root{
    --swiper-theme-color:#E30610 
}
/* start-content */
.start-content{
    background: #000;
    background-size: cover;
    padding: 72px 0 48px 0;
    height: auto;
}
.start-content-text{
    position: relative;
    background:url(../image/start-content/bg01.jpg)no-repeat;
    background-size: cover;
    background-position: right;
    height: 400px;
    color: #fff;
}
.text-area{
    position: absolute;
    top: 40%;
    left: 10%;
}
/*mobile-start-content */
.mobile-start-content-text{
    display: none;
}
.start-content p{
   margin-bottom:0;
}
.m-start-content-text{
    color: #fff;
}
.m-start-content-img img{
    width: 100%;
    margin: 0;
}


/* elementor ==================================*/
.elementor{
    background:#000 ;
    color: #fff;

}

.ele-box a{
    padding: unset;
}
.ele{
    position: relative;
    text-decoration: none;
    list-style: none;
    background-color: #333;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    color: #fff;
}
.ele-text-box h3{
    text-decoration: none;
}
.h-img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 99;
}
.ele img{
    width: 100%
}
/* store-slide =======================================*/
.sec-store{
    background: #000;
}
.store-slide{
    padding-bottom: 48px;
    margin-bottom: 0;
}
.slide-img{
    width: 275px;
    margin: 0 10px;
    height: auto;
}
.slide-img img{
    width: 100%;
    min-width: 200px;
}
.slick-prev{
    position:absolute;
    font-size:0;
    top: 45%;
    left: -50px;
    background: none;
    border: none;
}
.slick-prev::after{
content: "\e93b";
font-family: 'xeicon';
position: absolute;
font-size: 30px;
top: 0;
left: 0;
z-index: 50;
color: #fff;

}
.slick-next{
    position: absolute;
    font-size: 0;
    top: 45%;
    right: -50px;
    background: none;
    border: none;
}
.slick-next::after{
    content: "\e93e";
    position: absolute;
    font-family: 'xeicon';
    top: 0;
    right: 0;
    font-size: 30px;
    color: #fff;
    z-index: 50;    
}
.store-slide .slide-img{
    overflow: hidden; 
}
/* ==================================== */
.container-store{
    width: 80%;
    margin: 0 auto;
}
.store-bg{
    overflow:hidden ;
    height: 300px;
    background: url('../image/store-slide/img_01.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex !important;
    align-items: flex-end;
    justify-content: flex-end;
    
}
.store-text-content{
    width: 100%;
    display: none;
    background:rgba(255,255,000,0.6);
    text-align: center;
}
.store-bg:hover .store-text-content{
    display: block;
    transition: .5s;
    

}
.store-bg:hover{
    background-size: 120%;
    transition-duration: .5s;

}
/* =============================================== */
    .slide-img{
        position: relative;
        overflow: hidden;
    }
    .slide-img:hover .hide-text-box{
        opacity: 1;
    }

    .hide-text-box{
        position: absolute;
        top: 0;
        left: 0;
        background:rgba(3,3,3,0.6);
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: .5s;

    }
    .last-notice{
        color: #fff;
        background:#E30610 ;
    }
    .last-notice p{
       margin-bottom: 0
    }
    footer{
        background:#000;
        height: auto;
    }
    .company-info P{
        font-size: 12px;
    }
    .last-notice{
        display: flex;
    }
    
    
@media(max-width:1024px){
    .start-content-text{
        display: none;
    }
    .mobile-start-content-text{
        display: flex;
    }
   .mobile-start-content-text{
       justify-content: center;
   }
   .ele-text-box h3{
    font-size: 15px;
   }

}
@media(max-width:769px){
   
    .logo{
        width: 40px;
    }
    .menu{
        display: none;
    }
    .menu-icon{
        display: none;
    }
    .shop{
        display: none;
    }
    .login{
        display: none;
    }
    .right {
        width: 52px;
    }
    .xi-bars{
        display: block;
        color: #fff;
        font-size: 30px;
    }
    .ele-title{
        text-align: center;
    }
    .ele-box-mobile{
        display: block;
    }
    .ele-text-box h3{
        font-size: 15px;
    }
    .main-slide{
        display: none;
    }
    .main-swiper-mobile{
        display: block;
    }
    /* store */
    .store-title{
        text-align: center;
    }
}
    
@media(max-width:541px){
    h2{
        font-size: 1.5rem;
    }
    .right{
        width: 40px;
    }
    
    /* start content */
    
    
}