@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}
a{
    text-decoration: none;
    list-style: none;
}

/* common=========================================== */
body{
    font-size: 15px;
}

/* header ==========================================*/
header{
    background:#000;
}
/* inner */
.inner{
    width: 100%;
    font-family:'Montserrat';
    background: #151515;
    border-bottom: 1px solid rgb(48,48,48);
    text-decoration: none;
}
.inner .content{
    width: 90%;
}
.inner p{
    margin: 0;
}
.inner p,.inner a{
    color: rgb(132,132,132)
}
.inner a:hover{
    text-decoration: none;
    color: #fff;
}
.right{
    width: 300px;
}
.right .login img{
    width: 13px;
    height: 13px;
}
.right .shop{
    box-sizing: border-box;
    padding: 8px 9px;
    margin: 1px;
    background: #E30610;
    border-radius: 4px;
}
.right .shop a{
    color: #fff !important;
}
.right .shop img{
    width: 12px;
    height: 12px;
    
}
/* gnb ======================================================== */
.gnb{
    width: 100%;
    font-family: 'Noto Sans KR','Montserrat';
  
}
.logo{
    width: 60px;
    cursor: pointer;
}
.logo img{
    width: 60px;
}
.nav{
    width: 90%;
}
.menu{
    width: 80%;
}
.menu li a{
    position: relative;
    color: #fff;
    text-decoration: none;
}
.menu li a:after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 1px;
    background:#fff;
    transform: translateX(-50%);
    transition: all .2s ease-out;
}
.menu li a:hover:after{
    width: 100%;
}

.menu-icon{
    position: relative;
    width: 25px;
    cursor: pointer;
}
.menu-icon img{
    width: 100%;
}
.language{
    position: absolute;
    bottom: -180px;
    left: -25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: #999;
    z-index: 99;
    
}
.language li{
    border-bottom: 1px solid #fff;
    padding: 10px;
}
.language li a:hover{
    color: #E30610;
}
.language li a:hover:after{
    width: 0;
}
/* main slide ==================================== */
.main-visual{
    width: 100%;
    background: #000;
}
.owl-carousel{
    width: 100%;
}
.main-visual .main-bg01{
    width: 100%;
    height: 780px;
    background: url(../image/main-visual/bg01.jpg)no-repeat;
    background-size: cover;
    background-position:bottom ;
}
.main-visual .main-bg02{
    width: 100%;
    height: 780px;
    background: url(../image/main-visual/bg02.jpg)no-repeat;
    background-size: cover;
    background-position:bottom ;
}
.main-visual .main-bg03{
    width: 100%;
    height: 780px;
    background: url(../image/main-visual/bg03.jpg)no-repeat;
    background-size: cover;
    background-position:bottom ;
}
.main-visual .main-bg04{
    width: 100%;
    height: 780px;
    background: url(../image/main-visual/bg04.jpg)no-repeat;
    background-size: cover;
    background-position:bottom ;
}
.owl-carousel{
    margin-bottom: unset;
}

/* slick dots ====================================*/
.main-visual .slick-dots{
    display: flex;
    margin-bottom: 0 !important;  
} 

/* elementor ==================================*/
.elementor{
    background:#000 ;
    color: #fff;

}
.ele-box a{
    padding: unset;
}
.ele{
    position: relative;
    text-decoration: none;
    list-style: none;
    color: #fff;
}
.ele-text-box h3{
    text-decoration: none;
}
.h-img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    z-index: 99;
}
.ele img{
    width: 100%;
}

/* ele-mobile =======================*/



/* mobile-swiper ==================================*/
.main-swiper-mobile{
    background: #000;
    width: 100%;
    display: none;
}
.main-swiper-mobile .swiper-slide img{
    width: 100%;
} 

.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 100% !important;
    height: 4px !important;
    left: 0 !important;
    top: unset;
    bottom: px !important;
}
:root{
    --swiper-theme-color:#E30610 
}



@media(max-width:1024px){
   .owl-carousel{
       display: none;
   } 
   .main-swiper-mobile{
       display: block;
   }
}
@media(max-width:769px){
    
    .ele-box-mobile{
        display: block;
    }
}
@media(max-width:541px){
    .shop{
        display: none;
    }
    .xi-bars{
        display: block;
    } 
    .menu{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
}