@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    list-style: none;
}

/* common */
body{
    font-family: 'Roboto','Noto Sans'!important;
}
.row{
    display: flex;
}
a{
    text-decoration: none !important;
}
/* header */
header{
    background-color: black;
}
header .logo{
    width: 130px;
    margin: 0 auto;
}
header .logo img{
    width: 100%;
}
.menu{
    width: 70%;
    font-size: 15px;
    font-family: 'Noto Sans';
}

.menu ul li a{
    position: relative;
    margin-left: 50px;
    color: #fff;
    cursor: pointer;
}
.menu ul li a::after{
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: #ffff;
    z-index: 100;
    transform: translateX(-50%);
    transition: all .27s ease-out;
}
.menu ul li a:hover::after{
    width: 120%;
}
.menu-icon{
    width: 25px;
}
.menu-icon img{
    width: 100%;
}
/* banner */
.banner{
    height: 100vh;
    background: #000;
}


